<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Square Puzzle Game</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body{
        background-color: rgb(224, 217, 209);
      }
      .bold{
        font-weight: bold;
      }
      .puzzle-piece {
        position: relative;
        display: inline-block;
        margin: 5px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid black;
      }
      .puzzle-piece img {
        position: absolute;
        top: 0;
        left: 0;
      }
      .highlight {
        border: 3px solid red;
      }
      .button-color{
        background-color: #4CAF50;
      }
      .button-color:hover{
        background-color: #3E8E41;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="bold"style="text-align: center; margin:4% 0%;">Square Puzzle Game</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card text-white bg-dark">
            <div class="bold card-header">Puzzle Image</div>
            <div class="card-body">
              <img
                id="puzzle-image"
                src="sammy.png"
                class="img-fluid"
                alt="Puzzle Image"
              />
            </div>
          </div>
          <div class="card text-white bg-dark mt-3">
            <div class="bold card-header">Moves&Score</div>
            <div class="card-body">
              <p id="moves">Number of moves:</p>
              <p id="score">Score:</p>
            </div>
          </div>
          <button id="reset-button" class="button-color btn btn-info mt-3">Reset Puzzle</button>
          <button id="shuffle-button" class="button-color btn btn-info mt-3">Shuffle Puzzle</button>
        </div>
        <div class="col-md-6">
          <div class="card text-white bg-dark">
            <div class="bold card-header">Puzzle Pieces</div>
            <div  class="card-body">
              <% for (var i = 1; i <= 16; i++) { %>
              <div
                class="puzzle-piece"
                id="puzzle-piece-<%= i %>"
                data-index="<%= i %>"
              >
                <img
                  src="section-<%= i %>.png"
                  class="img-fluid"
                  alt="Puzzle Piece <%= i %>"
                />
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVQ8bc"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>